# {{ ansible_managed }}
### Packer configuration file  -*- sh -*-
##
## The canonical pathname for this file is
## {{ rwflowpack_conf_file_path }}
##
## RCSIDENT("$SiLK: rwflowpack.conf.in 60e5dccfed7c 2015-09-23 20:32:54Z mthomas $")
##
## This is a /bin/sh file that gets loaded by the init.d/rwflowpack
## wrapper script, and this file must follow /bin/sh syntax rules.

# Set to non-empty value to enable rwflowpack
ENABLED={% if rwflowpack_service %}1{% endif %}

# These are convenience variables for setting other values in this
# configuration file; their use is not required.
statedirectory={{ rwflowpack_statedirectory }}

# If CREATE_DIRECTORIES is set to "yes", the directories named in this
# file will be created automatically if they do not already exist
CREATE_DIRECTORIES={{ rwflowpack_create_directories }}

# Full path of the directory containing the "rwflowpack" program
BIN_DIR={{ rwflowpack_bin_dir }}

# The full path to the sensor configuration file.  Used by
# --sensor-configuration.  YOU MUST PROVIDE THIS (the value is ignored
# when INPUT_MODE is "respool").
SENSOR_CONFIG={{ sensor_conf_file_path }}

# The full path to the root of the tree under which the packed SiLK
# Flow files will be written.  Used by --root-directory.
DATA_ROOTDIR={{ data_rootdir }}

# The full path to the site configuration file.  Used by
# --site-config-file.  If not set, defaults to silk.conf in the
# ${DATA_ROOTDIR}.
SITE_CONFIG={{ silk_conf_file_path }}

# Specify the path to the packing-logic plug-in that rwflowpack should
# load and use.  The plug-in provides functions that determine into
# which class and type each flow record will be categorized and the
# format of the files that rwflowpack will write.  When SiLK has been
# configured with hard-coded packing logic (i.e., when
# --enable-packing-logic was specified to the configure script), this
# value should be empty.  A default value for this switch may be
# specified in the ${SITE_CONFIG} site configuration file.  This value
# is ignored when INPUT_MODE is "respool".
PACKING_LOGIC={{ rwflowpack_packing_logic }}

# Data input mode.  Valid values are:
#  * "stream" mode to read from the network or from probes that have
#    poll-directories
#  * "fcfiles" to process flowcap files on the local disk
#  * "respool" to process SiLK flow files maintaining the sensor and
#    class/type values that already exist on those records.
INPUT_MODE={{ rwflowpack_input_mode }}

{% if rwflowpack_incoming_dir %}
# Directory in which to look for incoming flowcap files in "fcfiles"
# mode or for incoming SiLK files in "respool" mode
INCOMING_DIR={{ rwflowpack_incoming_dir }}
{% endif %}

{% if rwflowpack_archive_dir %}
# Directory to move input files to after successful processing.  When
# in "stream" mode, these are the files passed to any probe with a
# poll-directory directive.  When in "fcfiles" mode, these are the
# flowcap files.  When in "respool" mode, these are the SiLK Flow
# files.  If not set, the input files are not archived but are deleted
# instead.
ARCHIVE_DIR={{ rwflowpack_archive_dir }}

# When using the ARCHIVE_DIR, normally files are stored in
# subdirectories of the ARCHIVE_DIR.  If this variable's value is 1,
# files are stored in ARCHIVE_DIR itself, not in subdirectories of it.
FLAT_ARCHIVE={{ flat_archive }}
{% endif %}

# Directory to move an input file into if there is a problem opening
# the file.  If this value is not set, rwflowpack will exit when it
# encounters a problem file.  When in "fcfiles" mode, these are the
# flowcap files.  When in "stream" mode, these are the files passed to
# any probe with a poll-directory directive.
ERROR_DIR={{ rwflowpack_error_dir }}  #${statedirectory}/error

# Data output mode.  As of SiLK-3.6.0, valid values are
# "local-storage", "incremental-files", and "sending".
#
# For compatiblity with previous releases prior to SiLK-3.6.0, "local"
# is an alias for "local-storage" and "remote" and is an alias for
# "sending".
#
# In "local-storage" (aka "local") mode, rwflowpack writes the records
# to hourly files in the repository on the local disk.  The root of
# the repository must be specified by the DATA_ROOTDIR variable.
#
# In "incremental-files" mode, rwflowpack creates small files (called
# incremental files) that must be processed by rwflowappend to create
# the hourly files.  The incremental-files are created and stored in a
# single directory named by the INCREMENTAL_DIR variable.
#
# In "sending" (aka "remote") mode, rwflowpack also creates
# incremental files.  The files are created in directory specified by
# the INCREMENTAL_DIR variable and then moved to directory specified
# by the SENDER_DIR variable.
OUTPUT_MODE={{ rwflowpack_output_mode }}

{% if rwflowpack_output_mode == "sending" %}
# When the OUTPUT_MODE is "sending", this is the destination directory
# in which the incremental files are finally stored to await
# processing by rwflowappend, rwsender, or another process.
SENDER_DIR={{ rwflowpack_sender_dir }}
{% endif %}

{% if rwflowpack_output_mode == "sending" or rwflowpack_output_mode == "incremental-files" %}
# When OUTPUT_MODE is "incremental-files" or "sending", this is the
# directory where the incremental files are initially built.  In
# "incremental-files" mode, the files remain in this directory.  In
# "sending" mode, the incremental files are moved to the SENDER_DIR
# directory.
INCREMENTAL_DIR={{ rwflowpack_incremental_dir }}
{% endif %}

# The type of compression to use for packed files.  Left empty, the
# value chosen at compilation time will be used.  Valid values are
# "best" and "none".  Other values are system-specific (the available
# values are listed in the description of the --compression-method
# switch in the output of rwflowpack --help).
COMPRESSION_TYPE={{ rwflowpack_compression_type }}

# Interval between attempts to check the INCOMING_DIR or
# poll-directory probe entries for new files, in seconds.  This may be
# left blank, and will default to 15.
POLLING_INTERVAL={{ rwflowpack_polling_interval }}

# Interval between periodic flushes of open SiLK Flow files to disk,
# in seconds.  This may be left blank, and will default to 120.
FLUSH_TIMEOUT={{ rwflowpack_flush_timeout }}

# Maximum number of SiLK Flow files to have open for writing
# simultaneously.  This may be left blank, and will default to 64
FILE_CACHE_SIZE={{ rwflowpack_cache_size }}

# Whether rwflowpack should use advisory write locks.  1=yes, 0=no.
# Set to zero if messages like "Cannot get a write lock on file"
# appear in rwflowpack's log file.
FILE_LOCKING={{ rwflowpack_file_locking }}

# Whether rwflowpack should include the input and output SNMP
# interfaces and the next-hop-ip in the output files.  1=yes, 0=no.
# The default is no, and these values are not stored to save disk
# space.  (The input and output fields contain VLAN tags when the
# sensor.conf file contains the attribute "interface-values vlan".)
PACK_INTERFACES={{ rwflowpack_pack_interfaces }}

# Setting this environment variable to 1 causes rwflowpack to log the
# NetFlowV9/IPFIX templates that it receives.
SILK_IPFIX_PRINT_TEMPLATES={{ rwflowpack_silk_ipfix_print_templates }}


###

# The type of logging to use.  Valid values are "legacy" and "syslog".
LOG_TYPE={{ rwflowpack_log_type }}

# The lowest level of logging to actually log.  Valid values are:
# emerg, alert, crit, err, warning, notice, info, debug
LOG_LEVEL={{ rwflowpack_log_level }}

{% if rwflowpack_log_type == "legacy" %}
# The full path of the directory where the log files will be written
# when LOG_TYPE is "legacy".
LOG_DIR={{ rwflowpack_log_dir }}
{% endif %}

# The full path of the directory where the PID file will be written
PID_DIR={{ rwflowpack_pid_dir }}

# The user this program runs as; root permission is required only when
# rwflowpack listens on a privileged port.
USER={{ rwflowpack_user }}
#USER=`whoami`  # run as user invoking the script

{% if rwflowpack_extra_options %}
# Extra options to pass to rwflowpack
EXTRA_OPTIONS={{ rwflowpack_extra_options }}
{% endif %}

{% if rwflowpack_extra_envvar %}
# Extra environment variables to set when running rwflowpack.  These
# should be specified as VAR=value pairs as shown here:
#EXTRA_ENVVAR='FOO=1 BAR=baz'
EXTRA_ENVVAR={{ rwflowpack_extra_envvar }}
{% endif %}